* {
  font-family: Helvetica, Arial, monospace;
  box-sizing: border-box !important;
}

html, body {
  background-color: lemonchiffon;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

button {
  width: 100px;
  background-color: aliceblue;
  color: darkorchid;
  border: 2px solid skyblue;
  font-weight: bold;
  font-size: 100%;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
}

button:hover {
  background-color: lemonchiffon;
}

button:active {
  background-color: palegoldenrod;
}

#wrapper {
  background-color: powderblue;
  border: 3px solid palegoldenrod;
  position: absolute;
  height: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  padding: 10px;
}

#main {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 10px;
  padding: 10px;
  border: 3px solid cornflowerblue;
  overflow: auto;
}

#head {
  margin: 5px;
  text-decoration: underline;
  color: tomato;
}

#ctrl, #in, #out, #how {
  border: 2px solid cornflowerblue;
  background-color: skyblue;
  color: darkred;
  padding: 10px;
}

#ctrl *, #how * {
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  margin: 0px;
}

#mode, #repr {
  background-color: aliceblue;
  border-color: skyblue;
}

#in, #out {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
  align-items: center;
  align-content: center;
}

#in *, #out * {
  margin: 0px;
}

.input-box {
  border: 2px solid cornflowerblue;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.input-box > span > input {
  background-color: aliceblue;
  border: 1px solid cornflowerblue;
  border-radius: 3px;
  cursor: pointer;
  width: 40px;
}

#in-msg {
  color: darkmagenta;
  flex-grow: 1;
}

#dst {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

#go {
  width: 100%;
  height: 30px;
}
